.foodPage{
    background-color: blueviolet;
  /* background-image: url("./il_fullxfull.726795730_km9q.avif"); */
  border-style: solid;
  padding: 7px;
}

.header{
  /* background-image: url("./il_fullxfull.726795730_km9q.avif"); */
  background-color: bisque;
  font-weight: 900;
  width: 30%;
  display:block;
  margin-left: auto;
  margin-right: auto;
}