.foodPage{
    /* background-color: blueviolet; */
  /* background-image: url("./il_fullxfull.726795730_km9q.avif"); */
  background-image: url("./istockphoto-495654239-612x612.jpg");
  /* border-style: solid; */
  /* padding: 7px; */
  min-height: 100vh
}

.foodAcord{
  /* background-image: url("./istockphoto-495654239-612x612.jpg"); */
  /* background-image: url("./il_fullxfull.726795730_km9q.avif"); */
}

.header{
  /* background-image: url("./il_fullxfull.726795730_km9q.avif"); */
  background-color: bisque;
  font-weight: 900;
  width: 30%;
  display:block;
  margin-left: auto;
  margin-right: auto;
}