.foodTableComponent{
  overflow: auto;
  /* width: auto; */
            height: 80vmin;
    /* width: 95%; */
    /* border-style: solid;
    border-color: black;
    border-width: 5px; */
    /* padding: 2%; */
    /* margin: 1%;
    background-color: bisque; */
    
  }

  .foodTable{
    background-color: #FFC107; /*bootstrap warning*/
    table-layout: fixed;
    word-wrap: break-word;
    /* table-layout: auto; */
    /* width:100%; */
    /* border-collapse: collapse; */
  /* overflow-wrap: break-word; */
  /* hyphens: auto; */
  }

  .tableHead{
    position: sticky;
    top: 0;
    /* font-size: 1.6vw; */
    /* max-width: 100%; */
    /* background-color: grey; */
    /* width: 95%;
   padding: 5%; */
  }

  .tableHeader{
    /* 
    to try and make the table head sticky
    position: sticky;
    top:0; */
    /* background-color: gold;
    border-style: solid; */
    /* border-color: magenta; */
    
  }

  /* .foodTableBody{
    background-color: darkgreen;
  } */

  tr:nth-child(even) {
    background-color:#ffff99; /*warning subtle*/
  }
  /* tr:hover {
    background-color: white;
  } */

  /* .tableFoot{
    background-color: blue;
  } */

