.App {
  text-align: center;
  
}

.foodPage{
  background-color: blueviolet;
  border-style: solid;
}

.foodForm{
  background-color: crimson;
  border-style: solid;
  padding: 1%;
  margin: 1%;
}

.foodTable{
  background-color: aqua;
  /* width: 90%; */
  border-style: solid;
  /* padding: 2%; */
  margin: 1%;
  
}

.foodTableBody{
  background-color: darkgreen;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
tr:hover {
  background-color: #ffff99;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
